@layer base {
  body {
    font-family: var(--font-firaCode, var(--font-iranSans, var(--font-sans)));
    background-color: var(--color-primary-900, var(--color-black));
    color: var(--color-text-base, var(--color-primary-50, var(--color-white)));
    min-height: 100vh;
  }

  .font-fa,
  [lang="fa"] {
    font-family: var(--font-iranSans, var(--font-sans));
    direction: rtl;
  }

  .font-en,
  [lang="en"] {
    font-family: var(--font-firaCode, var(--font-iranSans, var(--font-sans)));
    direction: ltr;
  }

  .custom-scrollbar {
    @apply scrollbar-thin
          scrollbar-thumb-primary-500 scrollbar-track-transparent
          scrollbar-hover:scrollbar-thumb-primary-400 scrollbar-active:scrollbar-thumb-primary-300;
  }

  /* .svg {
    user-select: none;
    width: 1.15em;
    height: 1.15em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    stroke: currentColor;
    font-size: 1.15em;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
}

@utility animation-delay-* {
  animation-delay: --value([*]);
}
