@font-face {
  font-family: "FiraCode";
  src: url("../assets/fonts/fira-code/FiraCode-Regular.woff2") format("woff2"),
    url("../assets/fonts/fira-code/FiraCode-Regular.woff") format("woff"),
    url("../assets/fonts/fira-code/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../assets/fonts/vazirmatn/Vazirmatn[wght].woff2") format("woff2"),
    url("../assets/fonts/vazirmatn/Vazirmatn[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}
