@import "./fonts.css";
@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@import "./base.css";

@theme {
  --font-firaCode: "FiraCode";
  --font-iranSans: "IranSans";

  --color-primary-950: #01060c;
  --color-primary-900: #02090d;
  --color-primary-800: #020c0e;
  --color-primary-700: #021012;
  --color-primary-600: #031417;
  --color-primary-500: #1e3030;
  --color-primary-400: #394a46;
  --color-primary-300: #54635d;
  --color-primary-200: #6f7c75;
  --color-primary-100: #aab2ac;
  --color-primary-50: #d9ddd9;

  --color-text-base: #f2f4f2;

  --animate-wavey: wavey 1s linear infinite;
  @keyframes wavey {
    0%,
    60%,
    100% {
      height: calc(var(--spacing) * 2);
    }

    30% {
      height: calc(var(--spacing) * 6);
    }
  }

  --animate-bounce-x: bounce-x 1s infinite;
  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(-1px);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateX(2px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  --animate-rotate-char: rotate-char 600ms var(--tw-ease, var(--default-transition-timing-function)) forwards;
  @keyframes rotate-char {
    0% {
      transform: rotate(6deg);
    }

    60% {
      transform: rotate(-4deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  --animate-fade-l: fade-l 300ms var(--tw-ease, var(--default-transition-timing-function)) forwards;
  @keyframes fade-l {
    0% {
      opacity: 0;
      transform: translateX(calc(var(--spacing) * 6));
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  --animate-fade-r: fade-r 300ms var(--tw-ease, var(--default-transition-timing-function)) forwards;
  @keyframes fade-r {
    0% {
      opacity: 0;
      transform: translateX(calc(var(--spacing) * -6));
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}
